<div class="center hero-unit">

	<h1>Overview</h1>

	<p><%= link_to "Create a New Task", "/test_pages/new" %></p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Subject</th>
				<th>Title</th>
				<th>Priority</th>
				<th>Due Date</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
		<%= @tasks.each do |task| %>
			<tr>
				<td><%= link_to "Delete", "test_pages/#{task.id}", method: 'delete', data: { confirm: "Are you sure you want to delete this task?" } %></td>
				<td><%= link_to "Edit", "test_pages/#{task.id}/edit" %></td>
				
				<td><%= link_to task.subject, "/test_pages/#{task.id}"%></td>
				<td><%= link_to task.title, "/test_pages/#{task.id}"%></td>
				<td><%= link_to task.priority, "/test_pages/#{task.id}"%></td>
				<td><%= link_to task.duedate, "/test_pages/#{task.id}"%></td>
				<td><%= link_to task.notes, "/test_pages/#{task.id}"%></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>